svg {
  position: absolute;
  top: 50%;
  margin-top: -100px;
  left: 21%;
  margin-left: -225px;
}

.second-title {
  position: absolute;
  top: 57%;
  left: 9%;
  text-align: center;

  h3 {
    color: white;
    font-family: 'Oswald', helvetica;
    opacity: 0.8;
    font-size: 1.5em;
    font-weight: 400;
  }
}
